<script setup lang="ts">
import { rooms } from "../stores/room";
import { ref } from "vue";
const room = rooms();
const file = ref<HTMLInputElement | null>(null);
const handleFileUpload = async () => {
  if (file.value && file.value.files) {
    room.files = file.value.files[0];
  }
};
room.getRooms();
</script>
<template>
  <div>
    <v-dialog v-model="room.dialog" width="500">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
          @click="room.gotoAdd"
          class="mr-3 ml-3 btn mt-5"
        >
          <p>เพิ่มห้อง</p>
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="text-h5 grey lighten-2" v-if="!room.addUpdate">
          <p class="font">เพิ่มห้อง</p>
        </v-card-title>
        <v-card-title class="text-h5 grey lighten-2" v-if="room.addUpdate">
          <p class="font">อัพเดทห้อง</p>
        </v-card-title>

        <v-card-text>
          <p v-if="room.addUpdate">ID : {{ room.roomId }}</p>
          ชื่อห้อง
          <v-text-field
            v-if="!room.addUpdate"
            v-model="room.setRoom!.roomName"
            label="room name"
            type="text"
            :rules="[() => !!room.setRoom!.roomName || 'This field is required']"
            required
          ></v-text-field>
          <v-text-field
            v-if="room.addUpdate"
            v-model="room.setRoom!.roomName"
            label="room name"
            type="text"
            :rules="[() => !!room.setRoom!.roomName || 'This field is required']"
            required
          ></v-text-field>
          <input
            v-if="!room.addUpdate"
            ref="file"
            v-on:change="handleFileUpload()"
            type="file"
            required
          />
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            v-if="!room.addUpdate"
            text
            @click="room.addRoom(), room.submitFile()"
            class="btn ml-3"
          >
            เพิ่ม
          </v-btn>
          <v-btn
            color="primary"
            v-if="room.addUpdate"
            text
            @click="room.updateRoom"
            class="btn"
          >
            อัพเดท
          </v-btn>
          <v-btn color="primary" text @click="room.dialog = false" class="btn">
            ยกเลิก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-btn @click="room.backToMain" class="btn mt-5">กลับ</v-btn>
    <v-container fluid>
      <br />
      <v-row>
        <!-- <v-col cols="1" class="setCenter">id</v-col> -->
        <v-col cols="2" class="setCenter">ชื่อห้อง </v-col>
        <v-col cols="3" class="setCenter">กระทำ</v-col>
      </v-row>
      <v-row v-for="item in room.room" :key="item.id">
        <!-- <v-col cols="1" class="setCenter">{{ item.id }}</v-col> -->
        <v-col cols="2" class="setCenter">{{ item.roomName }}</v-col>
        <v-col cols="1" class="setCenter"
          ><v-btn
            color="secondary"
            @click="room.gotoComInfo(item.id!, item.roomName!)"
            class="mr-3 btn"
          >
            ไป
          </v-btn>
        </v-col>
        <v-col cols="1" class="setCenter"
          ><v-btn @click="room.gotoUpdate(item.id!)" class="mr-3 btn">
            อัพเดท
          </v-btn></v-col
        >
        <v-col cols="1" class="setCenter"
          ><v-btn color="error" @click="room.deleteRoom(item.id!)" class="btn">
            ลบ
          </v-btn></v-col
        >
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@100;300;400&display=swap");
.font {
  font-family: "K2D", sans-serif;
}
.btn {
  width: 100px;
}
.setCenter {
  text-align: center;
}
</style>
