<script lang="ts" setup>
import { inform } from "../stores/inform";
const informs = inform();
informs.message = "";
informs.getByCF("true", "false");
</script>

<template>
  <div>
    <v-container fluid>
      <v-row class="mt-3">
        <v-col cols="5" class="setCenter">เรื่องที่รับมาแล้ว</v-col>
        <v-col cols="1" class="setCenter">ห้อง</v-col>
        <v-col cols="1" class="setCenter">ตำแหน่ง</v-col>
        <v-col cols="2" class="setCenter">เวลาที่รับเรื่อง</v-col>
        <v-col cols="3" class="setCenter">กระทำ</v-col>
      </v-row>
      <v-row v-for="item in informs.informs" :key="item.id">
        <v-col cols="5" class="setCenter">{{ item.form }}</v-col>
        <v-col cols="1" class="setCenter">{{ item.roomName }}</v-col>
        <v-col cols="1" class="setCenter">{{ item.position }}</v-col>
        <v-col cols="2" class="setCenter">{{ item.confirmTime }}</v-col>
        <v-col cols="1" class="setCenter"
          ><v-btn
            color="success"
            class="mr-3 btn"
            @click="informs.finishConfirm(item.id!, 'true')"
            >เสร็จสิ้น</v-btn
          ></v-col
        >
        <v-col cols="1" class="setCenter">
          <v-dialog v-model="informs.dialog" width="500">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="mr-3 btn"
                v-bind="attrs"
                v-on="on"
                @click="informs.comment(item.id!)"
                >ความคิดเห็น</v-btn
              >
            </template>

            <v-card>
              <v-card-title class="text-h5 grey lighten-2">
                <p class="font">ความคิดเห็น</p>
              </v-card-title>
              <v-card-text>
                <v-text-field
                  v-model="informs.message"
                  label="ความคิดเห็น"
                  type="text"
                ></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  text
                  @click="informs.updateComment()"
                  class="btn"
                >
                  อัพเดท
                </v-btn>
                <v-btn
                  color="primary"
                  text
                  @click="informs.dialog = false"
                  class="btn"
                >
                  ยกเลิก
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-col>
        <v-col cols="1" class="setCenter"
          ><v-btn
            color="error"
            @click="informs.finishConfirm(item.id!, 'cancel')"
            class="btn"
            >ยกเลิก</v-btn
          ></v-col
        >
      </v-row>
    </v-container>
  </div>
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@100;300;400&display=swap");
.font {
  font-family: "K2D", sans-serif;
}
.setCenter {
  text-align: center;
}
.btn {
  width: 100px;
}
</style>
