<script lang="ts" setup>
import { inform } from "../stores/inform";
const informs = inform();
informs.getByCF("true", "true");
</script>
<template>
  <div>
    <v-container fluid>
      <v-row class="mt-3">
        <v-col cols="5" class="setCenter">เรื่องที่รับมาแล้ว</v-col>
        <v-col cols="1" class="setCenter">ห้อง</v-col>
        <v-col cols="1" class="setCenter">ตำแหน่ง</v-col>
        <v-col cols="2" class="setCenter">เวลาเสร็จสิ้น</v-col>
      </v-row>
      <v-row v-for="item in informs.informs" :key="item.id">
        <v-col cols="5" class="setCenter">{{ item.form }}</v-col>
        <v-col cols="1" class="setCenter">{{ item.roomName }}</v-col>
        <v-col cols="1" class="setCenter">{{ item.position }}</v-col>
        <v-col cols="2" class="setCenter">{{ item.finishTime }}</v-col>
      </v-row>
    </v-container>
  </div>
</template>
