<script setup lang="ts">
import { useRoute } from "vue-router";
import { inform } from "../stores/inform";
const route = useRoute();
const informs = inform();
informs.getInform(+route.params.id.toString());
const link =
  "http://playground.informatics.buu.ac.th/~com_info/follow/" +
  route.params.id.toString();
</script>
<template>
  <v-container
    ><v-row
      ><v-col></v-col
      ><v-col cols="6"
        ><p>
          ติดตามสถานะได้ที่ <a :href="link">{{ link }}</a>
        </p> </v-col
      ><v-col></v-col
    ></v-row>
    <v-row>
      <v-col>ห้อง : {{ informs.informFollow?.roomName }}</v-col>
      <v-col>ตำแหน่ง : {{ informs.informFollow?.position }}</v-col>
      <!-- <v-col>{{ informs.informFollow?.mac }}</v-col> -->
    </v-row>
    <v-row>
      <v-col>เรื่อง : {{ informs.informFollow?.form }}</v-col>
      <v-col> เวลาที่แจ้ง : {{ informs.informFollow?.newTime }} </v-col>
    </v-row>
    <v-row>
      <v-col> เวลารับเรื่อง : {{ informs.informFollow?.confirmTime }} </v-col>
      <v-col> ซ้อมสำเร็จ : {{ informs.informFollow?.finishTime }} </v-col>
    </v-row>
    <v-row>
      <v-col> ความคิดเห็น : {{ informs.informFollow?.message }} </v-col>
      <!-- <v-col> ซ้อมสำเร็จ : {{ informs.informFollow?.finishTime }} </v-col> -->
    </v-row>
  </v-container>
</template>
