<script lang="ts" setup>
import { machine } from "../stores/mac";

import { useRoute } from "vue-router";
import { inform } from "../stores/inform";
const route = useRoute();
const mac = machine();
const informs = inform();
</script>

<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-btn
          @click="mac.back(route.params.roomName.toString())"
          class="btn mt-3 mb-3"
          >กลับ</v-btn
        >
      </v-row>
      <v-row>
        <!-- <v-col cols="1" class="setCenter">id</v-col> -->
        <v-col cols="2" class="setCenter">รหัสประจำเครื่อง</v-col>
        <v-col cols="5" class="setCenter">เรื่องที่ซ่อม</v-col>
        <v-col cols="1" class="setCenter">สถานะ</v-col>
      </v-row>
      <v-row v-for="item in informs.informs" :key="item.id">
        <!-- <v-col cols="1" class="setCenter">{{ item.id }}</v-col> -->
        <v-col cols="2" class="setCenter">{{ item.mac }}</v-col>
        <v-col cols="5" class="setCenter">{{ item.form }}</v-col>
        <v-col cols="2" class="setCenter">เสร็จสิ้น</v-col>
      </v-row>
    </v-container>
  </div>
</template>
