<script setup lang="ts">
import { inform } from "../stores/inform";
const informs = inform();
informs.getLocal();
</script>
<template>
  <div>
    <v-container>
      <v-row>
        <v-col></v-col
        ><v-col
          ><p class="text-center mt-7">
            <v-img
              max-width="1920"
              max-height="400"
              src="https://img.freepik.com/free-vector/little-engineer-doodle-cartoon-character-isolated_1308-65004.jpg?w=740&t=st=1674936708~exp=1674937308~hmac=773fcdb2f2839680b3928541dbc22daee19d4722a4fb14531d5e3d5a3e7d21a4"
            ></v-img></p></v-col
        ><v-col></v-col
      ></v-row>

      <v-row>
        <v-col cols="3"></v-col
        ><v-col
          ><h1 class="text-center mt-3">ระบบจัดการงานส่วนซ่อมบำรุง</h1>
          <h3 class="text-center mt-3">กดปุ่มเพื่อแจ้งทันที</h3></v-col
        ><v-col cols="3"></v-col
      ></v-row>
      <v-row
        ><v-col></v-col
        ><v-col
          ><h3 class="text-center mt-3">
            เครื่องที่ {{ informs.com?.position }} ห้อง
            {{ informs.com?.roomName }}
          </h3></v-col
        ><v-col></v-col
      ></v-row>
      <v-row>
        <v-col></v-col
        ><v-col
          ><div class="text-center">
            <v-dialog v-model="informs.dialog" width="500">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="success"
                  dark
                  v-bind="attrs"
                  v-on="on"
                  @click="informs.gotoInform()"
                  class="btn mt-3"
                >
                  แจ้งซ่อม
                </v-btn>
              </template>

              <v-card>
                <v-card-title class="text-h5 grey lighten-2">
                  <p>แจ้งซ่อม</p>
                </v-card-title>

                <v-card-text>
                  เรื่องที่ต้องการแจ้ง

                  <p>ห้อง : {{ informs.com.roomName }}</p>

                  <v-select
                    label="ตำแหน่ง"
                    v-model="informs.position"
                    :items="informs.allPosition"
                    item-title="allPosition"
                    persistent-hint
                  ></v-select>
                  <v-text-field
                    v-model="informs.form"
                    label="เรื่อง"
                    type="text"
                    :rules="[() => !!informs.form! || 'This field is required']"
                    required
                  ></v-text-field>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="primary"
                    text
                    @click="informs.addInform(informs.com.roomName!.toString())"
                    class="btn ml-3"
                  >
                    แจ้ง
                  </v-btn>

                  <v-btn
                    color="primary"
                    text
                    @click="informs.dialog = false"
                    class="btn"
                  >
                    ยกเลิก
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div></v-col
        ><v-col></v-col
      ></v-row>
    </v-container>
  </div>
</template>
<style scoped></style>
