<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { userAuth } from "../stores/login";
import AuthVue from "@/components/AuthVue.vue";
import LoadingView from "@/components/LoadingView.vue";

const loginStore = userAuth();

const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    console.log(valid);
    loginStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};
</script>

<template>
  <AuthVue
    ><v-container>
      <v-row
        ><v-col style="max-width: 50%">
          <v-img
            class="mt-5"
            style="height: 880px; width: 800px"
            aspect-ratio="1/1"
            cover
            src="https://yt3.googleusercontent.com/ytc/AL5GRJX50rDpHgwfegkSKhjnGufUOq9RysHpULhWz96w=s900-c-k-c0x00ffffff-no-rj"
          ></v-img></v-col
        ><v-col style="max-width: 50%"
          ><v-layout justify-center align-center class="mt-10">
            <v-main class="pa-16">
              <v-card width="400px" class="mx-auto" height="600px">
                <v-card-title primary-title class="text-center">
                  <v-img
                    style="height: 200px; max-width: 500px"
                    aspect-ratio="1"
                    src="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2018/11/buu_logo_eng.jpg"
                  ></v-img>
                </v-card-title>
                <br />
                <v-card-title
                  primary-title
                  class="text-center text-h6 font-weight-bold"
                >
                  <h3 class="font">ระบบงานซ่อมบำรุง</h3>
                </v-card-title>
                <br />
                <v-card-text>
                  <v-form ref="form" v-model="valid">
                    <v-text-field
                      label="Username"
                      v-model="loginName"
                      :rules="[(v) => !!v || 'User is required']"
                      required
                    ></v-text-field>
                    <v-text-field
                      label="Password"
                      type="password"
                      v-model="password"
                      :rules="[
                        (v) => !!v || 'Password is required',
                        (v) =>
                          v.length >= 4 ||
                          'Password must be more than or equal 4 characters',
                      ]"
                      required
                    ></v-text-field>
                  </v-form>
                </v-card-text>
                <v-card-actions class="justify-center">
                  <v-btn color="success" @click="login">เข้าสู่ระบบ</v-btn>
                  <v-btn color="error" @click="reset">เคลียร์</v-btn>
                </v-card-actions>
              </v-card>
            </v-main></v-layout
          ></v-col
        ></v-row
      ></v-container
    >
    <LoadingView></LoadingView>
  </AuthVue>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@100;300;400&display=swap");
.font {
  font-family: "K2D", sans-serif;
}
.img {
  text-align: center;
  text-justify: center;
  align-items: center;
}
</style>
