<script setup lang="ts">
import { machine } from "../stores/mac";
import { useRoute } from "vue-router";
import { comInfo } from "../stores/cominfo";
const route = useRoute();
const comInfos = comInfo();
const mac = machine();
comInfos.setIp!.ip! = route.query.ip!.toString();
mac.getMacsByIp(route.query.ip!.toString());
</script>
<template>
  <div>
    <v-container fluid>
      <!-- <v-row
        ><v-col><v-setCenter> </v-setCenter> </v-col
        ><v-col
          ><vue-cal
            class="calendar vuecal--rounded-theme vuecal--blue-theme"
            active-view="month"
            :disable-views="['years', 'year']"
            :events="events" /></v-col
        ><v-col></v-col
      ></v-row> -->
      <v-row>
        <v-btn
          @click="mac.back(route.params.roomName.toString())"
          class="btn mt-3"
          >กลับ</v-btn
        >
      </v-row>
      <v-row>
        <!-- <v-col cols="1" class="setCenter">id</v-col> -->
        <v-col cols="2" class="setCenter">ไอพี</v-col>
        <v-col cols="2" class="setCenter">รหัสเครื่อง</v-col>
        <v-col cols="2" class="setCenter">เวลาเปิด</v-col>
        <v-col cols="2" class="setCenter">เวลาปิด</v-col>
        <v-col cols="1" class="setCenter">ซีพียู</v-col>
        <v-col cols="1" class="setCenter">เมนบอร์ด</v-col>
        <v-col cols="1" class="setCenter">แรม</v-col>
      </v-row>
      <v-row v-for="item in mac.allMachine" :key="item.id">
        <!-- <v-col cols="1" class="setCenter">{{ item.id }}</v-col> -->
        <v-col cols="2" class="setCenter">{{ item.ip }}</v-col>
        <v-col cols="2" class="setCenter">{{ item.mac }}</v-col>
        <v-col cols="2" class="setCenter">{{ item.timeOpen }}</v-col>
        <v-col cols="2" class="setCenter">{{ item.lastTimeShutdown }}</v-col>
        <v-col cols="1" class="setCenter">{{ item.cpu }}</v-col>
        <v-col cols="1" class="setCenter">{{ item.mainboard }}</v-col>
        <v-col cols="1" class="setCenter">{{ item.ram }}</v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style>
.calendar {
  margin-top: 30px;
  height: 560px;
  width: 1260px;
  /* background-color: #ffd700; */
}
.btn {
  width: 100px;
}
.vuecal__event.time {
  background-color: #85c1e9;
  border: 1px solid #17202a;
  color: #fff;
}
.setCenter {
  text-align: center;
}
</style>
