<script lang="ts" setup>
import { inform } from "../stores/inform";
const informs = inform();
informs.getByConfirm("false");
</script>

<template>
  <div>
    <v-container fluid>
      <v-row class="mt-3">
        <v-col cols="5" class="setCenter">คำร้อง</v-col>
        <v-col cols="1" class="setCenter">ห้อง</v-col>
        <v-col cols="1" class="setCenter">ตำแหน่ง</v-col>
        <v-col cols="2" class="setCenter">เวลาที่แจ้ง</v-col>
        <v-col cols="2" class="setCenter">กระทำ</v-col>
      </v-row>
      <v-row v-for="item in informs.informs" :key="item.id">
        <v-col cols="5" class="setCenter">{{ item.form }}</v-col>
        <v-col cols="1" class="setCenter">{{ item.roomName }}</v-col>
        <v-col cols="1" class="setCenter">{{ item.position }}</v-col>
        <v-col cols="2" class="setCenter">{{ item.newTime }}</v-col>
        <v-col cols="1" class="setCenter"
          ><v-btn
            color="success"
            class="mr-3 btn"
            @click="informs.updateConfirm(item.id!, 'true')"
            >รับเรื่อง</v-btn
          ></v-col
        ><v-col cols="1" class="setCenter"
          ><v-btn
            color="error"
            @click="informs.updateConfirm(item.id!, 'cancel')"
            class="btn"
            >ยกเลิก</v-btn
          ></v-col
        >
      </v-row>
    </v-container>
  </div>
</template>
<style>
.setCenter {
  text-align: center;
}
.btn {
  width: 100px;
}
</style>
