<script setup lang="ts">
import { inform } from "../stores/inform";
// import RoomTable from "./RoomTable.vue";
// import RoomUi from "./RoomUi.vue";
import RequestInform from "./RequestInform.vue";
import ConfirmView from "./ConfirmView.vue";
import FinishView from "./FinishView.vue";

const informs = inform();
informs.request = true;
// room.roomUi = false;
// room.table = true;
// room.selectViewDialog = false;
</script>

<template>
  <div>
    <v-card>
      <v-tabs fixed-tabs>
        <v-tab
          @click="
            informs.request = true;
            informs.finishs = false;
            informs.confirms = false;
          "
          >เรื่องที่แจ้งเข้ามา</v-tab
        >
        <v-tab
          @click="
            informs.request = false;
            informs.confirms = true;
            informs.finishs = false;
          "
          >รับเรื่องแล้ว</v-tab
        >
        <v-tab
          @click="
            informs.request = false;
            informs.confirms = false;
            informs.finishs = true;
          "
          >เสร็จสิ้น</v-tab
        >
      </v-tabs>
      <v-divider></v-divider>
      <div>
        <RequestInform v-if="informs.request" />
        <ConfirmView v-if="informs.confirms" />
        <FinishView v-if="informs.finishs" />
      </div>
    </v-card>
  </div>
</template>
