<script setup lang="ts">
// import comInfo from "@/service/comInfo";
import { rooms } from "../stores/room";
import { comInfo } from "../stores/cominfo";
const room = rooms();
const comInfos = comInfo();
comInfos.getRooms();
// comInfos.checkRoom(room.roomName.roomname);
room.getRoomUi();
// console.log(room.UI);
</script>
<template>
  <div>
    <v-table>
      <tbody>
        <tr v-for="(line, index) in room.UI" :key="index">
          <td v-for="(item, rowIndex) in line" :key="`${index}-${rowIndex}`">
            <v-btn
              block
              color="info"
              v-if="item !== 'T' && item !== '_'"
              disabled
              >{{ item }}</v-btn
            >
            <v-btn block color="success" v-if="item === 'T'" disabled>{{
              item
            }}</v-btn>
          </td>
        </tr>
      </tbody>
    </v-table>
  </div>
</template>
