<script setup lang="ts">
import { rooms } from "../stores/room";
import RoomTable from "./RoomTable.vue";
import RoomUi from "./RoomUi.vue";
import LoadingView from "@/components/LoadingView.vue";

const room = rooms();
room.roomUi = false;
room.table = true;
room.selectViewDialog = false;
</script>

<template>
  <div>
    <v-card>
      <v-tabs fixed-tabs>
        <v-tab
          @click="
            room.table = true;
            room.roomUi = false;
          "
          >ตาราง</v-tab
        >
        <v-tab
          @click="
            room.roomUi = true;
            room.table = false;
          "
          >รูปแบบห้อง</v-tab
        >
      </v-tabs>
      <v-divider></v-divider>
      <v-btn @click="room.back" v-if="room.roomUi" class="btn ml-3 mb-3"
        >กลับ</v-btn
      >
      <br />
      <div>
        <RoomUi v-if="room.roomUi" />
        <RoomTable v-if="room.table" />
      </div>
    </v-card>

    <LoadingView></LoadingView>
  </div>
</template>
<style scoped>
.btn {
  width: 100px;
}
</style>
