<script setup lang="ts">
import { rooms } from "../stores/room";
import { comInfo } from "../stores/cominfo";
import { ref } from "vue";
import { useRoute } from "vue-router";
import { inform } from "../stores/inform";
const informs = inform();
const route = useRoute();
const room = rooms();
const comInfos = comInfo();
comInfos.getComInfos(route.params.roomName.toString());
room.roomName.roomname = route.params.roomName.toString();
const file = ref<HTMLInputElement | null>(null);
const handleFileUpload = async () => {
  // file.value = file.value.files;
  if (file.value && file.value.files) {
    // console.log("selected file ", file.value.files);
    comInfos.files = file.value.files[0];
  }
};
</script>
<template>
  <div>
    <v-dialog v-model="comInfos.dialog" width="500">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
          @click="comInfos.gotoAdd"
          class="mr-3 ml-3 btn"
        >
          เพิ่ม
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="text-h5 grey lighten-2" v-if="!comInfos.addUpdate">
          <p class="font">เพิ่มคอมพิวเตอร์</p>
        </v-card-title>
        <v-card-title class="text-h5 grey lighten-2" v-if="comInfos.addUpdate">
          <p class="font">อัพเดทคอมพิวเตอร์</p>
        </v-card-title>

        <v-card-text>
          <!-- <p v-if="comInfos.addUpdate">ID : {{ comInfos.addCom!.id }}</p> -->
          <p v-if="comInfos.addUpdate">ที่อยู่ IP</p>
          <v-text-field
            v-model="comInfos.addCom!.ip"
            label="IP"
            type="text"
            v-if="comInfos.addUpdate"
            :rules="[() => !!comInfos.addCom!.ip || 'This field is required']"
            required
          ></v-text-field>
          <p v-if="comInfos.addUpdate">เลขประจำเครื่อง</p>
          <v-text-field
            v-model="comInfos.addCom!.mac"
            label="MAC Address"
            type="text"
            v-if="comInfos.addUpdate"
            :rules="[() => !!comInfos.addCom!.ip || 'This field is required']"
            required
          ></v-text-field>
          <p v-if="comInfos.addUpdate">ตำแหน่ง</p>
          <v-text-field
            v-model="comInfos.addCom!.position"
            label="position"
            type="text"
            v-if="comInfos.addUpdate"
            :rules="[
              () => !!comInfos.addCom!.position || 'This field is required',
            ]"
            required
          ></v-text-field>
          <input
            v-if="!comInfos.addUpdate"
            ref="file"
            v-on:change="handleFileUpload()"
            type="file"
            required
          />
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="comInfos.submitFile()"
            class="btn"
            v-if="!comInfos.addUpdate"
          >
            เพิ่ม
          </v-btn>
          <v-btn
            color="primary"
            text
            @click="comInfos.updateComInfo"
            class="btn"
            v-if="comInfos.addUpdate"
          >
            อัพเดท
          </v-btn>
          <v-btn
            color="primary"
            text
            @click="comInfos.dialog = false"
            class="btn"
          >
            ยกเลิก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog width="500" v-model="room.selectViewDialog">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          class="btn mr-3"
          style="background-color: #ffd700"
          v-bind="attrs"
          v-on="on"
          @click="room.gotoSelectView(1)"
        >
          รีพอตวัน
        </v-btn>
        <v-btn
          class="btn mr-3"
          style="background-color: #ffd700"
          v-bind="attrs"
          v-on="on"
          @click="room.gotoSelectView(2)"
        >
          รีพอตเดือน
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="text-h5 grey lighten-2" v-if="!comInfos.addUpdate">
          <p class="font">รีพอต</p>
        </v-card-title>
        <v-container
          ><v-row
            ><v-col></v-col
            ><v-col style="text-align: center"
              ><VueDatePicker
                v-if="!room.selectOption"
                v-model="room.date"
                inline
                auto-apply />
              <VueDatePicker
                v-if="room.selectOption"
                v-model="room.month"
                inline
                auto-apply
                month-picker /></v-col
            ><v-col></v-col>
          </v-row>
        </v-container>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="room.gotoCheckCom(route.params.roomName.toString())"
            class="btn"
          >
            ไป
          </v-btn>

          <v-btn
            color="primary"
            text
            @click="room.selectViewDialog = false"
            class="btn"
          >
            ยกเลิก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-btn @click="room.back" class="btn">กลับ</v-btn>

    <v-container fluid>
      <v-row>
        <!-- <v-col cols="1" class="setCenter"> id </v-col> -->
        <v-col cols="2" class="setCenter">ไอพี</v-col>
        <v-col cols="2" class="setCenter">เลขประจำเครื่อง</v-col>
        <v-col cols="1" class="setCenter">ตำแหน่ง</v-col>
        <v-col cols="4" class="setCenter">กระทำ</v-col>
      </v-row>

      <v-row v-for="item in comInfos.comInfos" :key="item.id">
        <!-- <v-col cols="1" class="setCenter">{{ item.id }}</v-col> -->
        <v-col cols="2" class="setCenter">{{ item.ip }}</v-col>
        <v-col cols="2" class="setCenter">{{ item.mac }}</v-col>
        <v-col cols="1" class="setCenter">{{ item.position }}</v-col>
        <v-col cols="1" class="setCenter">
          <v-btn
            color="secondary"
            @click="
              comInfos.gotoMachine(item.ip!, route.params.roomName.toString())
            "
            class="mr-3 btn"
            >ไป</v-btn
          >
        </v-col>
        <v-col cols="1" class="setCenter">
          <v-btn
            color="#F5F190"
            @click="
              informs.getByPR(
                route.params.roomName.toString(),
                item.position!,
                'true',
                item.ip!
              )
            "
            class="mr-3 btn"
            >ประวัติการซ่อม</v-btn
          >
        </v-col>
        <v-col cols="1" class="setCenter">
          <v-btn @click="comInfos.gotoUpdate(item.id!)" class="mr-3 btn">
            อัพเดท
          </v-btn></v-col
        >
        <v-col cols="1" class="setCenter">
          <v-btn
            color="error"
            @click="comInfos.deleteCom(item.id!)"
            class="btn"
          >
            ลบ
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@100;300;400&display=swap");
.font {
  font-family: "K2D", sans-serif;
}
.btn {
  width: 120px;
}
.setCenter {
  text-align: center;
}
</style>
