<script setup lang="ts">
import { auther } from "../stores/user";
const user = auther();
user.getUser();
console.log(user.user);
</script>
<template>
  <div>
    <v-container>
      <v-row>
        <v-col><h3 class="text-center">ข้อมูลผู้ใช้</h3></v-col>
      </v-row>

      <v-row class="mt-5">
        <v-col>ชื่อ : {{ user.user?.name }} </v-col>
        <v-col> นามสกุล : {{ user.user?.surname }}</v-col>
      </v-row>
      <v-row class="mt-3">
        <v-col>อีเมล : {{ user.user?.email }}</v-col></v-row
      >
      <v-row class="mt-3">
        <v-col>ผู้ใช้ : {{ user.user?.username }}</v-col>
      </v-row>

      <v-btn
        color="success"
        class="btn mr-3 mt-3"
        @click="user.gotoChangePass()"
        >แก้ไขรหัสผ่าน</v-btn
      >
      <v-btn class="btn" @click="user.goBack">กลับ</v-btn>
    </v-container>
    <v-dialog v-model="user.dialog" width="500">
      <v-card>
        <v-card-title class="text-h5 grey lighten-2" v-if="user.changePass">
          เปลี่ยนรหัสผ่าน
        </v-card-title>

        <v-card-text>
          <p v-if="user.changePass" class="mb-3">
            ชื่อผู้ใช้ : {{ user.user?.username }}
          </p>
          รหัสผ่านใหม่
          <v-text-field
            v-if="user.changePass"
            v-model="user.changePassUser!.password"
            label="รหัสผ่านใหม่"
            type="password"
            :rules="[() => !!user.changePassUser!.password || 'This field is required']"
            required
          ></v-text-field>
          ยืนยันรหัสผ่านใหม่
          <v-text-field
            v-if="user.changePass"
            v-model="user.confirmPass"
            label="ยืนยันรหัสผ่านใหม่"
            type="password"
            :rules="[() => !!user.confirmPass || 'This field is required']"
            required
          ></v-text-field>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            v-if="user.changePass"
            @click="user.updateUser()"
          >
            Change
          </v-btn>
          <!-- <v-btn
            color="primary"
            v-if="room.addUpdate"
            text
            @click="room.updateRoom"
          >
            Update
          </v-btn> -->
          <v-btn color="primary" text @click="user.dialog = false">
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
.btn {
  width: 150px;
}
</style>
