<script setup lang="ts">
import index from "../router/index";
import { userAuth } from "../stores/login";
const loginStore = userAuth();
console.log(loginStore.isLogin);
if (loginStore.isLogin) {
  index.push("/");
}
</script>
<template><slot></slot></template>
