<script setup lang="ts">
import { comInfo } from "../stores/cominfo";
import { machine } from "../stores/mac";
import { rooms } from "../stores/room";
import { useRoute } from "vue-router";
const route = useRoute();
const mac = machine();
const room = rooms();
const cominfo = comInfo();
</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <v-btn
          @click="mac.back(route.params.roomName.toString())"
          class="btn mt-3 ml-3"
          >กลับ</v-btn
        >
        <div style="text-align: center">
          <v-icon style="width: 22px">mdi-close-circle-outline</v-icon> =
          ไม่ได้ถูกเปิด
          <v-icon style="width: 22px" class="ml-3">mdi-monitor</v-icon> =
          ถูกเปิด (ถ้าเปิดไม่ถึง10 นาที จะไม่แสดง)
        </div>
      </v-col></v-row
    >
    <v-row>
      <v-table style="width: 85vw; height: 80vh; overflow: auto">
        <thead v-if="room.selectOption">
          <tr>
            <th>C/D</th>
            <th v-for="item in cominfo.dayInMonth" :key="item">{{ item }}</th>
          </tr>
        </thead>
        <thead v-if="!room.selectOption">
          <tr>
            <th>C/H</th>
            <th v-for="item in 24" :key="item">{{ item }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(line, index) in cominfo.allTimeCheck" :key="index">
            <td>{{ index + 1 }}</td>
            <td v-for="(item, rowIndex) in line" :key="`${index}-${rowIndex}`">
              <v-icon color="#9EA29E" v-if="item === 'X'"
                >mdi-close-circle-outline</v-icon
              >
              <v-icon color="#33ED09" v-if="item === 'O'">mdi-monitor</v-icon>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-row>
  </v-container>
</template>
<style>
.btn {
  width: 100px;
}
.colSizeHour {
  max-width: 4%;
}
.colSizeMonth {
  max-width: 3%;
}
</style>
