<script lang="ts" setup>
import { userAuth } from "@/stores/login";

const loginStore = userAuth();
</script>
<template>
  <v-dialog v-model="loginStore.dialog" max-width="200" persistent>
    <v-card>
      <div class="center-loading mt-5">
        <v-progress-circular
          v-if="loginStore.dialog"
          :size="50"
          :width="5"
          indeterminate
          color="primary"
        ></v-progress-circular>
      </div>
      <!-- <v-card-text class="text-center" v-if="!loginStore.isLogin"
        >กำลังเข้าสู่ระบบ</v-card-text
      > -->
      <v-card-text class="text-center"></v-card-text>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.center-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
