<template>
  <v-app-bar
    image="https://htmlcolorcodes.com/assets/images/colors/silver-color-solid-background-1920x1080.png"
    permanent
    style="height: 65px"
    ><v-img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Buu-logo11.png/1024px-Buu-logo11.png"
      max-width="100"
      max-height="60"
    ></v-img>

    <p>ระบบจัดการงานซ่อมบำรุง</p>
  </v-app-bar>
</template>
