<script lang="ts" setup>
import { auther } from "../stores/user";
import { userAuth } from "../stores/login";
import index from "../router/index";
const loginStore = userAuth();
const auth = auther();
</script>
<template>
  <div>
    <v-navigation-drawer
      image="https://htmlcolorcodes.com/assets/images/colors/silver-color-solid-background-1920x1080.png"
      permanent
      style="width: 240px"
    >
      <v-divider class="mt-3"></v-divider>
      <v-menu>
        <template v-slot:activator="{ props }">
          <div class="d-flex justify-center">
            <v-btn
              class="bg-btn"
              v-bind="props"
              icon
              block
              v-if="loginStore.isLogin"
              ><v-icon class="mr-3">mdi-account</v-icon>ข้อมูลผู้ใช้<v-icon
                class="ml-3"
                >mdi-menu-down</v-icon
              >
            </v-btn>
            <v-btn
              class="bg-btn"
              icon
              block
              v-if="!loginStore.isLogin"
              @click="index.push('/login')"
              ><v-icon class="mr-3">mdi-account</v-icon>เข้าสู่ระบบ
            </v-btn>
          </div>
        </template>

        <v-list class="mt-3">
          <v-list-item @click="loginStore.gotoUser">
            <v-list-item-content> ข้อมูลผู้ใข้</v-list-item-content>
          </v-list-item>
          <v-list-item @click="loginStore.logout()">
            <v-list-item-content> ออกจากระบบ </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-divider></v-divider>

      <v-list nav v-if="loginStore.isLogin">
        <v-list-item
          v-for="item in auth.menuItems"
          :key="item.title"
          :to="item.path"
        >
          <v-list-item-content v-if="loginStore.isLogin"
            ><v-icon class="mr-3">{{ item.icon }}</v-icon
            >{{ item.title }}</v-list-item-content
          >
        </v-list-item>
      </v-list> </v-navigation-drawer
    ><v-divider></v-divider>
  </div>
</template>
<style scoped>
.bg-btn {
  background-color: #ffd700;
  border-radius: 40px;
}
</style>
