<script setup lang="ts">
import LoadingView from "./components/LoadingView.vue";
import { userAuth } from "./stores/login";
import MainLayout from "@/layout/MainLayout.vue";
import FullLayout from "@/layout/FullLayout.vue";
const loginStore = userAuth();

// test
if (!localStorage.getItem("user")) {
  loginStore.isLogin = false;
} else {
  loginStore.isLogin = true;
}
</script>

<template>
  <component
    class="font"
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <LoadingView></LoadingView>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@100;300;400&display=swap");
.font {
  font-family: "K2D", sans-serif;
}
</style>
